.menuAlert {
    position: absolute;
    left: 286px;
    top: 0;
    width: 950px;
    min-height: 580px;
    border: 1px solid #eaeaea;
    background: white;
    overflow: hidden;
}
.checkedMenuItem {
    background: #4780FF;
    color: white;
}