.carouselBox {
    position: relative;
    width: 100%;
    height: 100%;
    .postionAbs {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%)
    }
    .carouselPre {
        .postionAbs;
        left: 10px;
        cursor: pointer;    
    }
    .carouselNext {
        .postionAbs;
        right: 10px;
        cursor: pointer;    
    }
}
// .ant-carousel {
//     .slick-slide {
//         text-align: center;
//         background: #364d79;
//         overflow: hidden;
//     }
// }
.carouselSlide  {
    width: 100%;
    height: 100%;
    background: #292A35FF;
    .carouselSlideImg {
        width: 100%;
        height: 80%;
        background: green;
        img {
            width: 100%;
        }
    }
    .carouselSlideTxt {
        width: 100%;
        height: 20%;
        h2 {
            font-size: 16px;
            color: #333333;
            text-align: left;
            span.carouselTitle {
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 50%;
                height: 25px;
                font-size: 14px;
                color: #CBCFFFFF;
            }
            .carouselInfoTag,.carouselUnit {
                float: right;
            }
            .carouselUnit {
                font-size: 14px;
                color: #76799DFF;
            }
        }
        .carouselDes {
            text-align: left;
            span {
                margin-right: 16px;
                color: #76799DFF;    
            }
        }
    }
    h3 {
        color: white;
    }
}