.common-foot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    padding: 4px 0;
}
.common-foot .ant-col-6,.common-foot .ant-col-6 a{
    text-align: center;
    color: #AFB1B7;
}
.common-foot .ant-col-6 .anticon {
    font-size: 23px;
}
