body {
    background: #eee;
} 
.common-content {
    padding: 0 10px;
}
.index-show1 {
    background: #ffffff;
    padding: 10px 0;
    margin: 10px 0 !important;
    border-radius: 5px;
}
.index-show1 .ant-col-6{
 text-align: center;
 font-size: 12px;
 color: #333333;
}
.index-show1 .anticon {
    font-size: 37px;
    color: #0894ec;
    padding-bottom: 4px;
}
.index-show2 {
    border-radius: 5px;

}
.index-show2 .ant-col-7 {
    background: #ffffff;
    text-align: center;
    padding-top: 10px;
    /* border:1px solid red; */
    border-radius: 5px;
}
.index-show2 .ant-col-7 p {
    font-size: 16px;
    color: #F55231;
}