.menuUl {
    width: 285px;
    padding: 5px 0;
    overflow: hidden;
    background: #2D3049;
    color: white;
    list-style: none;
    li {
        padding: 2px 0;
        height: 32px;
        line-height: 32px;
        text-align: left;
        cursor: pointer;
        .menuButton {
            float: right;
            border: 0;
            background: none;
            color: white;
        }
        hr {
            // margin-bottom: 5px;
        }
    }
    .menuLi {
        background: #4780FF;
    }
}
