.menuUl {
    width: 230px;
    min-height: 528px;
    padding: 10px 0 !important;
    overflow: hidden;
    background: #2D3049;
    color: white;
    font-weight: bold;
    list-style: none;
    li {
        position: relative;
        // padding: 2px 0;
        margin-bottom: 2px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 20px !important;
        cursor: pointer;
        .menuButton {
            position: absolute;
            right: 0;
            border: 0;
            padding-right: 6px !important;
            padding-left: 6px !important;
            background: none;
            color: white;
            border-radius: 0;
        }
        .menuButton:hover {
            // color: #4780FF;
            background: #4780FF;
        }
    }
    .menuLi {
        background: #4780FF;
    }
}
.menuLine {
    border-bottom:1px solid #F1F3F8;
    height: 40px !important;
    margin-bottom: 5px !important;
    
}
