.clearfix {
    clear: both;
    overflow: hidden;
}
.floatLeft {
    float: left;
}
.textLeft {
    text-align: left;
}
.padRight20 {
    padding-right: 25px !important;
}
.padTop0 {
    padding-top: 0 !important;
}
.marginRight20 {
    margin-right: 25px !important;
}
.borderTopNull {
    border-top:0 !important;
}
.cursor {
    cursor: pointer;    
}
.closeIcon {
    position: absolute;
    top: 8px;
    right: -20px;
    font-size: 20px;
    color: #999999;
}
.rowHeight {
    height: 15px !important;
}
.menuAlert {
    position: absolute;
    left: 230px;
    top: 0;
    width: 950px;
    min-height: 528px;
    padding: 10px 40px !important;
    border: 2px solid #4780FF;
    background: white;
    overflow: hidden;
    color: #666666;
    .hasChildrenBox {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        margin-top: -1px;
        // margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 25px;
        .threeBox {
            border-left: 1px solid #E5E5E5;
            padding:0 9px;
        }
    }
    .hasChildrenBox:first-child {
        border-top: 0;
    }
    .menuItemTwo,.menuItemThree {
        margin-bottom: 0px;
        font-size: 14px;
        text-align: left;
        .cursor;  
    }
    .menuItemTwo {
        display: inline-block;
        margin: 15px 0;
        padding: 0px 15px;
        height: 30px;
        line-height: 30px;
        background: #ECF2FF;
    }
    .menuThreeUl {
        padding-left: 0px;
        // margin-top: -20px;
        li {
            list-style: none;
            text-align: left;
            padding-top: 10px;
        }
    }
}
.checkedItem {
    color: #467EFD !important;
}
.checkedMenuItem {
    background: #4780FF !important;
    color: white;
}
.checkedMenuItemTwo {
    background: #4780FF !important;
    color: white;
}
.checkedMenuItemThree {
    font-weight: bold;
    color: #4780FF !important;
}
.checkedMenuItemFour {
    color: #4780FF !important;
}